node_modules
dist
build
.next
.cache
.turbo

.env
.env.local
.env.*.local

bun.lockb.bak
*.log
.DS_Store

apps/web/dist
apps/web/dist-types
apps/api/dist

*.tsbuildinfo

# pmPloy runtime data
/var/lib/pmploy
.pmploy-data
